<a href="https://colab.research.google.com/github/Vaishnavipadwad/HOTEL-BOOKING-ANALYSIS/blob/main/Hotel_Booking_Analysis1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First we will import the basic libraries as follows :

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Now we have to download dataset to use it as a pandas dataframe.

In [3]:
path= '/content/drive/MyDrive/Colab Notebooks/Hotel Bookings.csv'
df = pd.read_csv(path)

Now we will check the total number of rows and columns in the given dataset by using shape method.

In [7]:
df.shape

(87396, 32)

Now we will see the first and last five rows of the dataset by using the head and tail functions, resp.

In [4]:
df.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03

[5 rows x 32 columns]

In [5]:
df.tail()

             hotel  is_canceled  ...  reservation_status  reservation_status_date
119385  City Hotel            0  ...           Check-Out               2017-09-06
119386  City Hotel            0  ...           Check-Out               2017-09-07
119387  City Hotel            0  ...           Check-Out               2017-09-07
119388  City Hotel            0  ...           Check-Out               2017-09-07
119389  City Hotel            0  ...           Check-Out               2017-09-07

[5 rows x 32 columns]

Now we will delete the duplicate values from the dataset by using drop function

In [6]:
df=df.drop_duplicates()

again we will check the rows and columns of the given dataset.

In [8]:
df.shape

(87396, 32)

Now we check the null values in all the columns

In [9]:
df.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

from the above chart we can observe that, the columns company and agent have maximum number of null values, we will drop the two columns as it won't affect our dataset.

In [10]:
df=df.drop(['agent','company'] , axis=1)

Now we noticed some outliers, we look into it in deep by seeing the min and max values of the columns by using describe function

In [11]:
df.describe()

        is_canceled  ...  total_of_special_requests
count  87396.000000  ...               87396.000000
mean       0.274898  ...                   0.698567
std        0.446466  ...                   0.831946
min        0.000000  ...                   0.000000
25%        0.000000  ...                   0.000000
50%        0.000000  ...                   0.000000
75%        1.000000  ...                   1.000000
max        1.000000  ...                   5.000000

[8 rows x 18 columns]

Now we will get that columns  lead_time, adults, children, babies, previous_cancellations, previous-bookings_not_canceled, booking_changes,days_in_waiting_list, adr,  have drastic difference in their min and max values so will replace this outliers using nearby values

In [12]:
df.loc[df.lead_time > 400, 'lead_time'] = 400
df.loc[df.adults > 4, 'adults'] = 4
df.loc[df.children > 8, 'children'] = 0
df.loc[df.babies > 8, 'babies'] = 0
df.loc[df.previous_cancellations > 0, 'previous_cancellations'] = 1
df.loc[df.previous_bookings_not_canceled > 0, 'previous_bookings_not_canceled'] = 1
df.loc[df.booking_changes > 5, 'booking_changes'] = 5
df.loc[df.adr > 1000, 'adr'] = 1000

Now we will replace the outliers hence our dataset is cleaned now.